@use './config' as *;
@use 'sass:map';

* {
  @include reset;
}

html {
  @include size(100vw, 100vh);
}

body,
#root {
  @include size;
}

body {
  @include min-size(100%, fit-content);
  @include set-bg-color(white);
  font-size: map.get($fonts, 'main', 'size');
  font-family: map.get($fonts, 'main', 'family');
  line-height: map.get($fonts, 'main', 'line-height');
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
select,
button {
  @include ui-component;
}
button:not(:disabled) {
  cursor: pointer;
}
